* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

.main {
    display: flex;
    /* width: 100%;
    height: 100px; */
    /* grid-template-columns: 1fr 1fr;
    grid-gap: 100px; */
    /* width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    margin: -50px 0 0 -50px; */
}
.main-left {
    width: 200px;
    background-color: violet;
    height: 500px;
    margin: 100px; 
   }
.container {
    width: 600px;
    height: 800px;
    margin-top: 50px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.section {
    width: 500px;
    position: absolute;
    top: 50px;
    left: 40px;
    /* transition: 0.5s; */
}
#section2 {
    left: 700px;
}
#section3 {
    left : -700px;
}
.menu-child {
    /* display: grid; */
    width: 150px;
    margin: 4px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font: 18px Arial, sans-serif;
    border: 2px solid #000;
    padding: 8px;
    margin: 5px;
  }
  .menu {
    display: flex;
    margin: 10px;
  }
  .frm1 {
    margin-top: 40px;
    margin-bottom: 95px;
  }
  .frm2 {
    margin-top: 40px;
    margin-bottom: 220px;
  }
  .frm3 {
    margin-top: 40px;
    margin-bottom: 220px;
  }
  .frm3 > .card-item {
    display: block;
    width: 200px;
    height: 100px;
  }
  .frm3 > .card-item > .card {
    width: 400px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    padding: 10px 5px;
    margin: 15px 0;
    /* border-bottom: 1px solid #999; */
    outline: none;
    background: transparent;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btn-box1 {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: end;
  }
  .btn-box {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 100px;
    height: 35px;
    margin: 0 10px;
    background: darkblue;
    border-radius: 10px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  .card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 110px;
    margin-top: 10px;
    margin-right: 15px;
  }
  .card-item {
    display: flex;
    margin: 5px;
    width: 100%;
    height: 150px;
  }
  .card:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  }
  
 